  <body>
    <header>
      <h1 id="titulo">CRUD</h1>
    </header>
    <main class="container">
      <section class="section">
        <table class="table">
          <thead>
            <a href="#" (click)="modeloOpen()" class="btn btn-primary btn-xs pull-right"><b>+</b>Cadastrar</a>
            <tr>
              <th>USER ID</th>
              <th>ID</th>
              <th>TITLE</th>
              <th>COMPLETED</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tr *ngFor="let tarefa of tarefas">
            <td class="text-center">{{ tarefa.userId }}</td>
            <td class="text-center">{{ tarefa.id }}</td>
            <td>{{ tarefa.title }}</td>
            <td class="text-center">{{ tarefa.completed }}</td>
            <td class="text-center">
              <a class="btn btn-info btn-xs" href="#" (click)="atualizar(tarefa.id)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
              <a href="#" (click)="remover(tarefa.id)" class="btn btn-danger btn-xs" ><span class="glyphicon glyphicon-remove" ></span> Del</a>
            </td>
          </tr>
        </table>
      </section>
    </main>

    <div class="modelo-overlay {{isOpen ? 'active' : ''}}">
        <div class="modelo">
          <div id="form">
            <h2>Nova Tarefa</h2>
            <form action="">
              <div class="input-group">
                <label
                  class="sr-only"
                  for="description">Valor</label>
                <input class="input1"
                type="number"
                id="description"
                name="description"
                placeholder="id" [(ngModel)]="tarefa.id"
                />
              </div>

              <div class="input-group">
                <label
                  class="sr-only"
                  for="description">Description</label>
                <input class="input1"
                type="text"
                id="description"
                name="description"
                placeholder="title" [(ngModel)]="tarefa.title"
                />
              </div>

              <div class="input-group actions">
                <a
                href="#"
                (click)="modeloClose()"
                class="button cancel">Cancelar</a>
                <button (click)="cadastrar()" (click)="modeloClose()">Salvar</button>
              </div>
            </form>
          </div>
     </div>
  </div>

    <footer>
      <p>@ProjetoAngular</p>
    </footer>
  </body>


 <!--
<div class="container">
  <h2>Cadastrar tarefa:</h2>
  <hr />
  <form>
    <div class="form-group">
      <label>id: <input type="number" name="id" [(ngModel)]="tarefa.id" /></label>
    </div>
    <div class="form-group">
      <label>title: <input type="text" name="title" [(ngModel)]="tarefa.title" /></label>
    </div>
    <div class="form-group">
      <label><button type="button" (click)="cadastrar()">Cadastrar</button></label>
    </div>
    <div class="form-group">
      <label><button (click)="atualizar(tarefa.id)">Atualizar</button></label>
    </div>
  </form>

  <h2>Tarefas Cadastradas:</h2>
  <hr />

  <div class="form-group">
    <table>
      <tr>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
        <th>completed</th>
      </tr>

      <tr *ngFor="let tarefa of tarefas">
        <td>{{ tarefa.userId }}</td>
        <td>{{ tarefa.id }}</td>
        <td>{{ tarefa.title }}</td>
        <td>{{ tarefa.completed }}</td>
        <td><button (click)="remover(tarefa.id)">Remover</button></td>
      </tr>
    </table>
  </div>
</div>

<td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>



-->
